<table class="table">
  <thead>
    <tr>
      <th scope="col">Room</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings.result">
      <td>{{booking.roomId}}</td>
      <td>{{booking.startDate}}</td>
      <td>{{booking.endDate}}</td>
    </tr>
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="this.pagePreviousDisabled()"><span class="page-link" (click)="this.previousPage()" >Previous</span></li>
    <li *ngFor="let pageNumber of pages" class="page-item" [ngClass]="this.pageActive(pageNumber)">
      <span class="page-link" (click)="this.page(pageNumber)">{{pageNumber}}</span>
    </li>
    <li class="page-item" [ngClass]="this.pageNextDisabled()"><span class="page-link" (click)="this.nextPage()">Next</span></li>
  </ul>
</nav>